<div class="row px-3" [formGroup]="form">

    <div class="col-md-12">
        <div class="form-group">
            <label for="type">Gestor</label>
            <ng-select [items]="manager$ | async" bindLabel="displayName" bindValue="email" formControlName="manager">
            </ng-select>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <label for="area">Importancia</label>
            <ng-select [items]="importances" bindLabel="name" bindValue="name" formControlName="importance">
            </ng-select>
        </div>
    </div>

</div>

<div class="row px-3 py-3">
    <div class="col-md-12">
        <button type="button" class="btn btn-success" (click)="distribute()">
            <i class="fa fa-save" aria-hidden="true"></i>
            Guardar
        </button>
    </div>
</div>