<app-breadcrumbs page="General" parent="Reporte">
</app-breadcrumbs>

<div class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Buscar</strong>
                </div>
                <div class="card-body">

                    <div [formGroup]="form" class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dni">Ciudadano</label>
                                <input id="dni" type="text" class="form-control" placeholder="DNI"
                                    formControlName="citizen">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="type">Tipo</label>
                                <select id="type" class="form-control" formControlName="type">
                                    <option value=""></option>
                                    <option value="Orientación">Orientación</option>
                                    <option value="Reclamo">Reclamo</option>
                                    <option value="Sugerencia">Sugerencia</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="area">Área reclamada</label>
                                <ng-select labelForId="area" [items]="area$ | async" bindLabel="name" bindValue="id"
                                    formControlName="area">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="reason">Motivo</label>
                                <ng-select labelForId="reason" [items]="reasons" bindLabel="name" bindValue="id"
                                    formControlName="reason" (change)="onReasonChange()">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="problem">Problema</label>
                                <ng-select labelForId="problem" [items]="problems" bindLabel="name" bindValue="id"
                                    formControlName="problem" (change)="onProblemChange()">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="incidence">Incidencia</label>
                                <ng-select labelForId="incidence" [items]="incidences" bindLabel="name" bindValue="id"
                                    formControlName="incidence">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="start">Fecha inicio</label>
                                <input type="text" placeholder="dd/mm/aaaa" class="form-control" formControlName="start"
                                    bsDatepicker [bsConfig]="{ isAnimated: true,dateInputFormat: 'DD/MM/YYYY' }">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="end">Fecha final</label>
                                <input type="text" placeholder="dd/mm/aaaa" class="form-control" formControlName="end"
                                    bsDatepicker [bsConfig]="{ isAnimated: true,dateInputFormat: 'DD/MM/YYYY' }">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="state">Estado</label>
                                <select id="state" class="form-control" formControlName="state">
                                    <option value="">Todo</option>
                                    <option value="new">Nuevo</option>
                                    <option value="canceled">Cancelado</option>
                                    <option value="assigned">Asignado</option>
                                    <option value="attended">Atendido</option>
                                    <option value="finished">Terminado</option>
                                    <option value="notified">Notificado</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12 mt-5">
                            <button id="search" type="button" class="btn btn-primary" (click)="export()">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                                Exportar
                            </button>

                            <button id="search" type="button" class="btn btn-secondary ml-3" (click)="clear()">
                                <i class="fa fa-repeat" aria-hidden="true"></i>
                                Limpiar
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>