<app-breadcrumbs page="Usuarios" parent="Mantenimiento">
</app-breadcrumbs>

<div class="content">

  <div class="row">
    <div class="col-md-12 col-lg-10 col-xl-7">

      <div class="card">

        <div class="card-header">
          <strong>Nuevo</strong>
        </div>

        <div class="card-body">

          <form [formGroup]="form">

            <div class="form-group row">
              <label for="email" class="col-md-2 col-form-label">Email</label>
              <div class="col-md-10">
                <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com"
                  formControlName="email" [class.is-invalid]="!isValidControl('email')">
                <div class="invalid-feedback" *ngIf="!isValidControl('email')">
                  <span *ngIf="form.controls.email.errors.exists">El email ya se encuentra registrado</span>
                </div>
              </div>
            </div>

            <fieldset formGroupName="roles" class="form-group">
              <div class="row">
                <legend class="col-form-label col-md-2 pt-0">Roles</legend>
                <div class="col-md-10">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="admin" formControlName="admin">
                    <label class="custom-control-label" for="admin">Gerente</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="coordinator" formControlName="coordinator">
                    <label class="custom-control-label" for="coordinator">Coordinador</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="manager" formControlName="manager">
                    <label class="custom-control-label" for="manager">Gestor</label>
                  </div>
                </div>
              </div>
            </fieldset>

            <div class="form-group row">
              <div class="col-md-2">Estado</div>
              <div class="col-md-10">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="status" formControlName="isActive">
                  <label class="custom-control-label" for="status">
                    <span *ngIf="form.value.isActive">Activo</span>
                    <span class="text-muted" *ngIf="!form.value.isActive">Inactivo</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <button type="submit" class="btn btn-success pull-right" (click)="save()">
                  <i class="fa fa-save" aria-hidden="true"></i>
                  Guardar
                </button>
              </div>
            </div>

          </form>


        </div>
      </div>

    </div>
  </div>

  <div class="row">

    <div class="col-lg-12 col-xl-10">
      <div class="card">
        <div class="card-header">
          <strong>Usuarios</strong>
        </div>
        <div class="table-stats order-table ov-h">
          <table class="table ">
            <thead>
              <tr>
                <th></th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of user$ | async; let i = index " [attr.data-index]="i">
                <td class="avatar">
                  <div class="round-img">
                    <img class="rounded-circle" src="{{user.photoURL}}"
                      onerror="this.src='assets/images/default-profile.jpg';" alt="Foto de Perfil">
                  </div>
                </td>
                <td>{{user.email}}</td>
                <td>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="adm-{{i}}" [checked]="user.roles.admin"
                      (change)="toogleRole(user, 'admin', $event)">
                    <label class="form-check-label" for="adm-{{i}}">Gerente</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="cdr-{{i}}" [checked]="user.roles.coordinator"
                      (change)="toogleRole(user, 'coordinator', $event)">
                    <label class="form-check-label" for="cdr-{{i}}">Coordinador</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="mng-{{i}}" [checked]="user.roles.manager"
                      (change)="toogleRole(user, 'manager', $event)">
                    <label class="form-check-label" for="mng-{{i}}">Gestor</label>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="active-{{i}}" [checked]="user.isActive"
                      (change)="toogleStatus(user, $event)">
                    <label class="custom-control-label" for="active-{{i}}">
                      <span *ngIf="user.isActive">Activo</span>
                      <span class="text-muted" *ngIf="!user.isActive">Inactivo</span>
                    </label>
                  </div>
                </td>
                <td class="text-center">
                  <button class="btn btn-sm btn-danger" (click)="openConfirmation(template, user)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-body text-center">
      <p>¿Quieres confirmar?</p>
      <button type="button" class="btn btn-danger mx-2" (click)="confirmDelete()">Si</button>
      <button type="button" class="btn btn-primary mx-2" (click)="declineDelete()">No</button>
    </div>
  </ng-template>


</div>