<div class="content">

  <div class="row">

    <div class="col-sm-6 col-md-3">
      <div class="card text-white bg-flat-color-1">
        <div class="card-body">
          <div class="card-left pt-1 float-left">
            <h3 class="mb-0 fw-r">
              <span class="count">{{mainNew}}</span>
            </h3>
            <p class="text-light mt-1 m-0">Sin asignar</p>
          </div>
          <div class="card-right float-right text-right">
            <i class="fa fa-4x fa-envelope"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="card text-white bg-flat-color-3">
        <div class="card-body">
          <div class="card-left pt-1 float-left">
            <h3 class="mb-0 fw-r">
              <span class="count">{{mainAssigned}}</span>
            </h3>
            <p class="text-light mt-1 m-0">Asignado a mi</p>
          </div>
          <div class="card-right float-right text-right">
            <i class="fa fa-4x fa fa-bell"></i>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">

          <div class="row">

            <div class="col-md-8">
              <span class="badge badge-pill badge-info mx-auto mb-3">
                Semana
              </span>

              <canvas *ngIf="barChartData.length" baseChart [datasets]="barChartData" [labels]="barChartLabels"
                [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>

            <div class="col-md-4">

              <span class="badge badge-pill badge-info mb-3">
                Hoy: {{ todayDate | date:"dd/MM" }}
              </span>

              <div class="progress-box progress-1">
                <h4 class="por-title">
                  <i class="fa fa-globe"></i> Total
                </h4>
                <div class="por-txt">{{todayAll}} ({{((todayAll/todayAll) | percent) || '0%'}})</div>
                <div class="progress mb-2">
                  <div class="progress-bar bg-flat-color-1" role="progressbar"
                    [style.width]="(todayAll/todayAll) | percent" aria-valuenow="100" aria-valuemin="0"
                    aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress-box progress-2">
                <h4 class="por-title">
                  <i class="fa fa-life-ring"></i> Orientaciones
                </h4>
                <div class="por-txt">{{todayOrientations}} ({{((todayOrientations/todayAll) | percent) || '0%'}})</div>
                <div class="progress mb-2">
                  <div class="progress-bar bg-flat-color-3" role="progressbar"
                    [style.width]="(todayOrientations/todayAll) | percent" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress-box progress-2">
                <h4 class="por-title">
                  <i class="fa fa-exclamation-triangle"></i> Reclamos
                </h4>
                <div class="por-txt">{{todayClaims}} ({{((todayClaims/todayAll) | percent) || '0%'}})</div>
                <div class="progress mb-2">
                  <div class="progress-bar bg-flat-color-3" role="progressbar"
                    [style.width]="(todayClaims/todayAll) | percent" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress-box progress-2">
                <h4 class="por-title">
                  <i class="fa fa-paper-plane"></i> Sugerencias
                </h4>
                <div class="por-txt">{{todaySuggestions}} ({{((todaySuggestions/todayAll) | percent) || '0%'}})</div>
                <div class="progress mb-2">
                  <div class="progress-bar bg-flat-color-3" role="progressbar"
                    [style.width]="(todaySuggestions/todayAll) | percent" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

  </div>

</div>