<app-breadcrumbs page="Finalizar" parent="Incidencia">
</app-breadcrumbs>

<div class="content">

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <strong>Buscar</strong>
                </div>
                <div class="card-body">

                    <div [formGroup]="form" class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="dni">Ciudadano</label>
                                <input id="dni" type="text" class="form-control" placeholder="DNI"
                                    formControlName="citizen">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="type">Tipo</label>
                                <select id="type" class="form-control" formControlName="type">
                                    <option value=""></option>
                                    <option value="Orientación">Orientación</option>
                                    <option value="Reclamo">Reclamo</option>
                                    <option value="Sugerencia">Sugerencia</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="area">Área reclamada</label>
                                <ng-select labelForId="area" [items]="area$ | async" bindLabel="name" bindValue="id"
                                    formControlName="area">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="reason">Motivo</label>
                                <ng-select labelForId="reason" [items]="reasons" bindLabel="name" bindValue="id"
                                    formControlName="reason" (change)="onReasonChange()">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="problem">Problema</label>
                                <ng-select labelForId="problem" [items]="problems" bindLabel="name" bindValue="id"
                                    formControlName="problem" (change)="onProblemChange()">
                                </ng-select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="incidence">Incidencia</label>
                                <ng-select labelForId="incidence" [items]="incidences" bindLabel="name" bindValue="id"
                                    formControlName="incidence">
                                </ng-select>
                            </div>
                        </div>

                    </div>

                    <button id="search" type="button" class="btn btn-primary" (click)="search()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Buscar
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>Incidencias</strong>
                </div>
                <div class="table-stats table-responve">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Registro</th>
                                <th scope="col">Área reclamada</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Motivo</th>
                                <th scope="col">Problema</th>
                                <th scope="col">Incidencia</th>
                                <th scope="col">Ciudadano</th>
                                <th scope="col">Días</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let incident of incidents">
                                <td scope="row">{{incident.code}}</td>
                                <td scope="row">{{incident.registerDate.toDate() | date:'dd/MM/yyyy h:mm a'}}</td>
                                <td scope="row">{{(incident.area | doc | async )?.name}}</td>
                                <td scope="row">{{incident.type}}</td>
                                <td scope="row">{{(incident.typification | doc | async )?.reason}}</td>
                                <td scope="row">{{(incident.typification | doc | async )?.problem}}</td>
                                <td scope="row">{{(incident.typification | doc | async )?.incidence}}</td>
                                <td scope="row">
                                    <mark>{{incident.dni}}</mark>
                                    {{(incident.citizen | doc | async )?.names}}
                                    {{(incident.citizen | doc | async )?.surnames}}
                                </td>
                                <td scope="row">
                                    <span class="badge badge-{{incident.registerDate.toDate() | indicator}} w-100 p-2">
                                        {{incident.registerDate.toDate() | elapsed}}
                                    </span>
                                </td>
                                <td scope="row" class="text-center" style="width: 120px;">
                                    <button type="button" class="btn btn-sm btn-primary w-100"
                                        (click)="openDetails(detailTemplate, incident)">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        Revisar
                                    </button>

                                    <button type="button" class="btn btn-sm btn-danger w-100 mt-2"
                                        (click)="openReturnConfirm(returnTemplate, incident)">
                                        <i class="fa fa-undo" aria-hidden="true"></i>
                                        Retornar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<ng-template #detailTemplate>
    <div class="modal-header">
        <strong>Finalizar incidencia</strong>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-incidents-review></app-incidents-review>
    </div>
</ng-template>

<ng-template #returnTemplate>
    <div class="modal-header">
        <strong>Retornar incidencia</strong>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="mx-2">¿Realmente quieres retornar esta incidencia? Este proceso no se puede deshacer.</p>
        <button type="button" class="btn btn-secondary mx-2" (click)="modalRef.hide()">Cancelar</button>
        <button type="button" class="btn btn-danger mx-2" (click)="return()">Retornar</button>
    </div>
</ng-template>
