<header id="header" class="header">
  <div class="top-left">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink=""><img src="assets/images/logo.png" alt="Logo"></a>
      <a class="navbar-brand hidden" routerLink=""><img src="assets/images/logo.png" alt="Logo"></a>
      <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
    </div>
  </div>
  <div class="top-right">
    <div class="header-menu">
      <div class="header-left">

        <div class="dropdown for-notification">
          <div class="btn-group" dropdown>
            <button id="notifications" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-notifications">
              <i class="fa fa-bell"></i>
              <span class="count bg-danger">3</span>
            </button>
            <div id="dropdown-notifications" *dropdownMenu class="dropdown-menu" role="menu"
              aria-labelledby="notifications">
              <p class="red">You have 3 Notification</p>
              <a class="dropdown-item media" href="#">
                <i class="fa fa-check"></i>
                <p>Server #1 overloaded.</p>
              </a>
              <a class="dropdown-item media" href="#">
                <i class="fa fa-info"></i>
                <p>Server #2 overloaded.</p>
              </a>
              <a class="dropdown-item media" href="#">
                <i class="fa fa-warning"></i>
                <p>Server #3 overloaded.</p>
              </a>
            </div>
          </div>
        </div>


        <div *ngIf="auth.user$ | async as user" class="user-area dropdown float-right">
          <div class="btn-group" dropdown>
            <a id="user" dropdownToggle type="button" class="dropdown-toggle active" aria-controls="dropdown-profile">
              <img class="user-avatar rounded-circle" src="{{user.photoURL}}" alt="User Avatar">
            </a>
            <div id="dropdown-profile" *dropdownMenu class="user-menu dropdown-menu" role="menu" aria-labelledby="user">
              <a class="nav-link"><i class="fa fa-user"></i>Mi Perfil</a>
              <a class="nav-link" (click)="auth.signOut()"><i class="fa fa-power-off"></i>Salir</a>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</header>