<nav class="navbar navbar-expand-sm navbar-default">
  <div id="main-menu" class="main-menu collapse navbar-collapse">
    <ul class="nav navbar-nav">

      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/">
          <i class="menu-icon fa fa-laptop"></i>Dashboard </a>
      </li>

      <li *ngIf="user.roles.manager || user.roles.coordinator" class="menu-title">Incidencia</li>

      <li *ngIf="user.roles.manager" routerLinkActive="active">
        <a routerLink="/incidencias/registrar"> <i class="menu-icon fa fa-save"></i> Registrar </a>
      </li>

      <li *ngIf="user.roles.coordinator" routerLinkActive="active">
        <a routerLink="/incidencias/asignar"> <i class="menu-icon fa fa-pencil-square"></i> Asignar </a>
      </li>

      <li *ngIf="user.roles.manager" routerLinkActive="active">
        <a routerLink="/incidencias/trabajar"> <i class="menu-icon fa fa-briefcase"></i> Trabajar </a>
      </li>

      <li *ngIf="user.roles.admin" routerLinkActive="active">
        <a routerLink="/incidencias/finalizar"> <i class="menu-icon fa fa-check-square"></i> Finalizar </a>
      </li>

      <li *ngIf="user.roles.manager" routerLinkActive="active">
        <a routerLink="/incidencias/notificar"> <i class="menu-icon fa fa-envelope"></i> Notificar </a>
      </li>

      <li *ngIf="user.roles.coordinator" class="menu-title">Reporte</li>

      <li *ngIf="user.roles.coordinator" routerLinkActive="active">
        <a routerLink="/reportes/general"> <i class="menu-icon fa fa-table"></i> General </a>
      </li>

      <li *ngIf="user.roles.admin" class="menu-title">Mantenimiento</li>

      <li *ngIf="user.roles.admin" routerLinkActive="active">
        <a routerLink="/seguridad/usuario"> <i class="menu-icon fa fa-user"></i> Usuarios </a>
      </li>

    </ul>
  </div>
</nav>