<dl class="row">
  <dt class="col-sm-2">Ciudadano</dt>
  <dd class="col-sm-10">
    <mark>{{incident.dni}}</mark>
    {{(incident.citizen | doc | async)?.names}}
    {{(incident.citizen | doc | async)?.surnames}}
  </dd>

  <dt class="col-sm-2">Dirección</dt>
  <dd class="col-sm-10">
    {{incident.address}} - {{incident.district}}
  </dd>

  <dt class="col-sm-2">Teléfono</dt>
  <dd class="col-sm-2">
    {{incident.phone}}
  </dd>

  <dt class="col-sm-2">Correo</dt>
  <dd class="col-sm-6">
    {{incident.email}}
  </dd>

  <dt class="col-sm-2">Canal</dt>
  <dd class="col-sm-2">
    {{incident.channel}}
  </dd>

  <dt class="col-sm-2">Registro</dt>
  <dd class="col-sm-6">
    {{incident.registerDate.toDate() | date:'dd/MM/yyyy h:mm a'}}
    <span class="badge badge-{{incident.registerDate.toDate() | indicator}} ml-2 px-2">
      {{incident.registerDate.toDate() | elapsed}}
    </span>
  </dd>

  <dt class="col-sm-2">Asunto</dt>
  <dd class="col-sm-10">
    {{incident.description}}
  </dd>

</dl>

<hr>

<form [formGroup]="form">

  <div class="row px-3">

    <div class="col-md-4">
      <div class="form-group">
        <label for="edit-type">Tipo</label>
        <ng-select labelForId="edit-type" [items]="types" bindLabel="name" bindValue="id" formControlName="type"
          [class.is-invalid]="!isValidControl('type')">
        </ng-select>
      </div>
    </div>

    <div class="col-md-8">
      <div class="form-group">
        <label for="edit-area">Área reclamada</label>
        <ng-select labelForId="edit-area" [items]="area$ | async" bindLabel="name" bindValue="id" formControlName="area"
          [class.is-invalid]="!isValidControl('area')">
        </ng-select>
      </div>
    </div>

  </div>

  <div class="row px-3">

    <div class="col-md-4">
      <div class="form-group">
        <label for="reason">Motivo</label>
        <ng-select labelForId="reason" [items]="reasons" bindLabel="name" bindValue="id" formControlName="reason"
          [class.is-invalid]="!isValidControl('reason')" (change)="onReasonChange()">
        </ng-select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="problem">Problema</label>
        <ng-select labelForId="problem" [items]="problems" bindLabel="name" bindValue="id" formControlName="problem"
          [class.is-invalid]="!isValidControl('problem')" (change)="onProblemChange()">
        </ng-select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="incidence">Incidencia</label>
        <ng-select labelForId="incidence" [items]="incidences" bindLabel="name" bindValue="id"
          formControlName="incidence" [class.is-invalid]="!isValidControl('incidence')">
        </ng-select>
      </div>
    </div>

  </div>

  <div class="row px-3 my-3">
    <div class="col-md-12">

      <button id="save" type="button" class="btn btn-primary" (click)="save()">
        <i class="fa fa-save" aria-hidden="true"></i>
        Guardar
      </button>

    </div>
  </div>

</form>