<div class="row">

  <div class="col-md-6 p-4 border-right">

    <div class="row">

      <div class="col-md-4">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">DNI</div>
          <div class="py-2">{{incident.dni}}</div>
        </div>

      </div>

      <div class="col-md-8">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Nombres</div>
          <div class="py-2">{{(incident.citizen | doc | async)?.names}} {{(incident.citizen | doc | async)?.surnames}}
          </div>
        </div>

      </div>

    </div>

    <hr>

    <div class="row mb-3">

      <div class="col-md-4">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Distrito</div>
          <div class="py-2">{{incident.district}}</div>
        </div>

      </div>

      <div class="col-md-8">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Dirección</div>
          <div class="py-2">{{incident.address}}</div>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-md-4">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Teléfono</div>
          <div class="py-2">{{incident.phone}}</div>
        </div>

      </div>

      <div class="col-md-8">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Correo</div>
          <div class="py-2">{{incident.email}}</div>
        </div>

      </div>

    </div>

    <hr>

    <div class="row mb-3">

      <div class="col-md-4">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Canal</div>
          <div class="py-2">{{incident.channel}}</div>
        </div>

      </div>

      <div class="col-md-4">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Registro</div>
          <div class="py-2">{{incident.registerDate.toDate() | date:'dd/MM/yyyy h:mm a'}}</div>
        </div>

      </div>

      <div class="col-md-2">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Transcurrido</div>
          <div class="py-2">{{incident.registerDate.toDate() | elapsed}}</div>
        </div>

      </div>

    </div>

    <div class="row mb-3">

      <div class="col-md-6">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Motivo</div>
          <div class="py-2">{{(incident.typification | doc | async )?.reason}}</div>
        </div>

      </div>

      <div class="col-md-6">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Problema</div>
          <div class="py-2">{{(incident.typification | doc | async )?.problem}}</div>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-md-6">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Incidencia</div>
          <div class="py-2">{{(incident.typification | doc | async )?.incidence}}</div>
        </div>

      </div>

      <div class="col-md-6">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Área</div>
          <div class="py-2">{{(incident.area | doc | async )?.name}}</div>
        </div>

      </div>

    </div>

  </div>

  <div class="col-md-6 p-4">

    <div class="row">
      <div class="col-md-12">

        <div class="d-flex flex-column">
          <div class="font-weight-bold">Asunto</div>
          <div class="py-2 description">{{incident.description}}</div>
        </div>

      </div>
    </div>

    <div [formGroup]="form" class="row">
      <div class="col-md-12">

        <div class="form-group">
          <label for="adress">Respuesta</label>
          <textarea id="response" formControlName="response" rows="10" class="form-control"
            [class.is-invalid]="!isValidControl('response')"></textarea>
        </div>

      </div>
    </div>

    <div class="row pt-3">

      <div class="col-md-12">

        <button id="save" type="button" class="btn btn-success pull-right" [disabled]="form.pristine" (click)="save()">
          <i class="fa fa-floppy-o" aria-hidden="true"></i>
          Guardar
        </button>

        <button id="save-finish" type="button" class="btn btn-primary pull-right mr-3" (click)="saveAndComplete()">
          <i class="fa fa-check" aria-hidden="true"></i>
          Guardar y Terminar
        </button>

      </div>

    </div>

  </div>

</div>