<div class="vh-100 d-flex align-items-center">
  <div class="vw-100">

    <div class="container text-center">

      <img src="assets/images/logo.png" class="w-50">

      <h2 class="text-secondary font-weight-light mt-5">
        Sistema de Gestión de Incidencias
      </h2>

      <button (click)="auth.googleSignin()" class="btn btn-primary mt-4">
        <i class="fa fa-google"></i> Ingresar
      </button>

    </div>

  </div>
</div>
