<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6 text-right">
                Copyright &copy; 2020
            </div>
        </div>
    </div>
</footer>