<app-breadcrumbs page="Registrar" parent="Incidencia">
</app-breadcrumbs>

<div class="content">
  <div [formGroup]="form">

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Ciudadano</strong>
          </div>
          <div class="card-body">

            <div class="row">

              <div class="col-md-6 border-right">

                <div class="row">

                  <div class="form-group col-md-4">
                    <label for="dni">DNI</label>
                    <input id="dni" type="text" class="form-control loading"
                      (keyup)="onSearchChange($event.target.value)" maxlength="8" formControlName="dni"
                      [class.is-invalid]="!isValidControl('dni')" [class.loading]="isReniecLoading"
                      [attr.disabled]="isReniecLoading ? 'disabled' : null">
                  </div>

                  <div class="form-group col-md-4">
                    <label>Nombres</label>
                    <input id="names" type="text" class="form-control" formControlName="names"
                      [class.is-invalid]="!isReniecValid()">
                  </div>

                  <div class="form-group col-md-4">
                    <label>Apellidos</label>
                    <input id="surnames" type="text" class="form-control" formControlName="surnames"
                      [class.is-invalid]="!isReniecValid()">
                  </div>

                </div>

                <div class="row">
                  <div class="form-group col-md-5">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" formControlName="email"
                      [class.is-invalid]="!isValidControl('email')">
                  </div>

                  <div class="form-group col-md-4">
                    <label for="phone">Telefono fijo/móvil</label>
                    <input id="phone" type="text" class="form-control" formControlName="phone" maxlength="9">
                  </div>
                </div>

              </div>

              <div class="col-md-6">

                <div class="row">

                  <div class="form-group col-md-6">
                    <label for="district">Distrito</label>
                    <ng-select id="district-select" labelForId="district" [items]="district$ | async" bindLabel="name"
                      bindValue="name" formControlName="district">
                    </ng-select>
                  </div>

                </div>

                <div class="row">

                  <div class="form-group col-md-6">
                    <label for="address">Dirección</label>
                    <input id="address" type="text" class="form-control" formControlName="address"
                      [class.is-invalid]="!isValidControl('address')">
                  </div>

                  <div class="form-group col-md-6">
                    <label for="reference">Referencia</label>
                    <input id="reference" type="text" class="form-control" formControlName="reference">
                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Incidencia</strong>
          </div>
          <div class="card-body">

            <div class="row">

              <div class="col-md-6 border-right">

                <div class="row">

                  <div class="form-group col-md-12 mt-2 mb-4">

                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="orientation" formControlName="type" class="custom-control-input"
                        [class.is-invalid]="!isValidControl('type')" value="Orientación">
                      <label class="custom-control-label" for="orientation">Orientación</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="claim" formControlName="type" class="custom-control-input"
                        [class.is-invalid]="!isValidControl('type')" value="Reclamo">
                      <label class="custom-control-label" for="claim">Reclamo</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="suggestion" formControlName="type" class="custom-control-input"
                        [class.is-invalid]="!isValidControl('type')" value="Sugerencia">
                      <label class="custom-control-label" for="suggestion">Sugerencia</label>
                    </div>

                  </div>

                  <div class="form-group col-md-6">
                    <label for="reason">Motivo</label>
                    <ng-select id="reason-select" labelForId="reason" [items]="reasons" bindLabel="name" bindValue="id"
                      formControlName="reason" (change)="onReasonChange()">
                    </ng-select>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="problem">Problema</label>
                    <ng-select id="problem-select" labelForId="problem" [items]="problems" bindLabel="name"
                      bindValue="id" formControlName="problem" (change)="onProblemChange()">
                    </ng-select>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="incidence">Incidencia</label>
                    <ng-select id="incidence-select" labelForId="incidence" [items]="incidences" bindLabel="name"
                      bindValue="id" formControlName="incidence">
                    </ng-select>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="area">Área reclamada</label>
                    <ng-select id="area-select" labelForId="area" [items]="area$ | async" bindLabel="name"
                      bindValue="id" formControlName="area">
                    </ng-select>
                  </div>

                </div>

              </div>

              <div class="col-md-6">

                <div class="form-group">
                  <label for="description">Descripción</label>
                  <textarea id="description" class="form-control" rows="7" formControlName="description"
                    [class.is-invalid]="!isValidControl('description')"></textarea>
                </div>

              </div>

              <div class="col-md-12">
                <button id="save" class="btn btn-success pull-right" (click)="save()">
                  <i class="fa fa-floppy-o"></i> Guardar
                </button>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>

  </div>

</div>