<aside id="left-panel" class="left-panel">

  <app-side-bar> </app-side-bar>

</aside>

<div id="right-panel" class="right-panel">

  <app-nav-bar></app-nav-bar>

  <router-outlet></router-outlet>

  <div class="clearfix"></div>

  <app-footer></app-footer>

</div>